@import url("https://use.typekit.net/rhv2hvl.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

*{
    margin:0;
}
body{
    background-color:#F2EFE9;
}

/* HEADER + NAVBAR */
header{
    width: 100%;
    background-color: #F2EFE9;
    position: sticky;
    z-index:2;
    top:0px;
    margin-top:20px;
}

#logo{
    display:flex;
    justify-content: center;
}

#headerbox{
    display: flex;
    justify-content: center;
}

#laptopnav{
    position: sticky;
    top: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom:15px;
    background-color: #F2EFE9;
}

#mobilenav{
    display:flex;
    flex-wrap: wrap;
}

#mobiledropdown{
    background-color:#F2EFE9;
    display:flex;
    flex-direction: column;
    width:100%;
    text-decoration:none;
    line-height: 0.5;
}

/* NAV + A */

nav a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover{
    color:black;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:black;
}

.underlined{
    text-decoration: underline;
}

/* KNAP */
.button {
    width:max-content;
    padding-top:12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #BCB171;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw; 
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: #686832;
    margin:auto;
    margin-top: 30px;
    border-radius: 90px;
    text-decoration: none;
}

/* LAYOUT */
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:45px;
    margin-bottom:45px;
}

.kort{
    width: 47%;
    height: auto;
    margin-left:20px;
    margin-right:20px;
    padding:15px;
    text-align: left;
}

.center{
    text-align: center;
    margin:auto;
}

.fit{
    width:90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:40px;
}

.kolonner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:10px;
}

.reversekolonner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:10px;
}

.halvkolonne{
    width:48%;
    height: auto;
    padding-right:20px;
}

.tredjedelkolonne{
    width:33%;
    height: auto;
    padding-right:20px;
}

.totredjedelkolonne{
    width:63%;
    padding-right: 10px;
}

/* PARKERING */
.parkering{
    width:20%;
    margin-right: 5%;
    padding: 3%;
    background-color:#BCB171;
    color:#01385F;
}

/* BILLEDER */

.kortbillede{
    width: 40%;
    height: auto;
    margin-left:20px;
    margin-right:20px;
}

/* OPLEVELSES OVERSIGT */

.oversigtsbox{
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:auto;
    margin-bottom: 40px;
}

.oversigtsbox1{
    width: 96%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:auto;
    margin-bottom: 40px;
}

.oversigtskort{
    width:25%;
    text-align: center;
}

.oversigtsbilleder{
    width:85%;
    height: auto;
    margin: 15px;
}

/* LISTE */
ul{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4vw; 
    color: #000;
    line-height: 165%;
    margin-bottom: 10px;
}

/* VÆKSTHUSENE DROPDOWN BOX */
.box{
    width:90%;
    margin:auto;
    margin-bottom:70px;
}

input {
    display: none;
}

label {
    display: block;
    padding-left: 10px;    
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px #000 solid;
    color: #000;
    transition: ease .5s;
}

label:hover {
    background: #BCB171;
}

.content {
    padding-left:10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

/* OVERSIGTSKORT */
.oversigtskort{
    width: 100%;
}

.laptopmap{
    width:100%;
}

.kortbox{
    position:absolute;
    top: 65vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    margin: auto;
    padding: 20px;
    background-color: #F2EFE9;
    opacity: 80%;
    margin-top:40%;
}

.kortoverskrift1{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 80px;
    line-height: 125%;
    color: #01385F;
    margin-bottom: 25px;
}

.kortoverskrift2{
    position: absolute;
    top: 275px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 40px;
    line-height: 125%;
    color: #01385F;
    margin-bottom: 25px;
}

/* FOOTER */
footer{
    background-color: #BCB171;
}

.footerlayout{
    display: flex;
    justify-content: center;
    width:85%;
    margin:auto;
    padding-top: 50px;
    padding-bottom:80px;
}

.footerbox{
    width: 38%;
    padding: 20px;
}

.lillefooterbox{
    width:24%;
    padding: 20px;
}

footer p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3vw; 
    color: #01385F;
    line-height: 165%;
}

footer a{
    color: #01385F;
    text-decoration: underline;
}

/* TYPOGRAFI */
h1{
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 5vw;
    line-height: 125%;
    color: #01385F;
    margin-bottom: 25px;
}

h2{
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 4vw;
    line-height: 125%;
    color: #01385F;
    margin-bottom: 25px;
}

h3{
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 3.5vw;
    line-height: 125%;
    color: #01385F;
    margin-bottom: 25px;
}

h4{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5vw; 
    color: #000;
    line-height: 125%;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

h5{
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 2.5vw;
    line-height: 135%;
    color: #01385F;
    margin-bottom: 25px;
}

h6{
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 6vw;
    line-height: 125%;
    color: #01385F;
    margin-bottom: 25px;
}

h7{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4vw; 
    font-style: italic;
    color:#01385F;
    line-height: 165%;
    margin-bottom: 10px;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4vw; 
    color: #000;
    line-height: 165%;
    margin-bottom: 10px;
}


/*MOBIL LAYOUT*/
@media only screen and (max-width: 820px){

    /* HEADER OG NAV */
    #mobilenav{
        display:flex;
        justify-content: space-between;
        position: sticky;
        z-index:2;
        top:0px;
        margin-top:-30px;
    }

    nav a{
        text-decoration: none;
        color: black;
        text-align: center;
        padding: 30px;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #laptopnav{
        display:none;
    }

    #headerbox{
        display: none;
    }

    #headerlaptop{
        display:none;
    }

    /* MAIN LAYOUT */
    section{
        display: flex;
        justify-content: center;
        margin-top:25px;
        margin-bottom:25px;
    }
    
    .kort{
        width: 85%;
        height: auto;
        margin:auto;
        padding:15px;
    }

    .kortbillede{
        width: 85%;
        height: auto;
        margin:auto;
        display:block;
    }

    .fixedkortbillede{
        width: 85%;
        height: 85vw;
        margin:auto;
        display:block;
    }

    .reverse{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .fit{
        width: 95%;
        margin:auto;
    }

    .kolonner{
        width:95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .reversekolonner{
        width:95%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin:auto;
    }
    
    .halvkolonne{
        width:100%;
        margin:auto;
    }

    .tredjedelkolonne{
        width:95%;
        margin:auto;
    }
    
    .totredjedelkolonne{
        width:95%;
        margin:auto;
    }

    /* PARKERING */

    .parkering{
        width:85%;
        margin:auto;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 30px;
    }

    /* KNAP */

    .button {
        width:max-content;
        padding-top:12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #BCB171;
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw; 
        line-height: 140%;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        color: #686832;
        margin:auto;
        margin-top: 30px;
        border-radius: 90px;
    }

    /* OPLEVELSES OVERSIGT */

    .oversigtsbox{
        width: 95%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin:auto;
        margin-bottom: 50px;
    }

    .oversigtsbox1{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin:auto;
        margin-bottom: 40px;
    }

    .oversigtskort{
        width:100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .oversigtsbilleder{
        width:85%;
        height: auto;
        margin: 15px;
    }

    /* OVERSIGTSKORT */
    .oversigtskort{
        width: 100%;
    }

    .laptopmap{
        display:none;
    }

    .mobilemap{
        width:100%;
    }

    .kortbox{
        display:none;
    }

    .kortoverskrift1{
        display:none;
    }

    .kortoverskrift2{
        display:none;
    }

    .oversigtsboxmobil{
        width:90%;
        margin:auto;
        margin-bottom:40px;
    }

    /* FOOTER */

    .footerlayout{
        display: flex;
        flex-direction: column;
    }

    .footerbox{
        display:none;
    }

    .lillefooterbox{
        display:none;
    }

    .mobilfooterbox{
        width: 85%;
    }

    footer p{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 3.5vw; 
        color: #01385F;
        line-height: 165%;
        margin-bottom:40px;
    }
    
    footer a{
        color: #01385F;
        text-decoration: underline;
    }

    /* LISTE */
    ul{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 3.5vw; 
        color: #000;
        line-height: 165%;
        margin-bottom: 10px;
    }

    /* TYPOGRAFI */
    h1{
        font-family: "larken", sans-serif;
        font-weight: 500;
        font-style: medium;
        font-size: 8vw;
        line-height: 125%;
        color: #01385F;
        margin-bottom: 25px;
    }

    h2{
        font-family: "larken", sans-serif;
        font-weight: 500;
        font-style: medium;
        font-size: 7.2vw;
        line-height: 125%;
        color: #01385F;
        margin-bottom: 25px;
    }

    h3{
        font-family: "larken", sans-serif;
        font-weight: 500;
        font-style: medium;
        font-size: 7vw;
        line-height: 125%;
        color: #01385F;
        margin-bottom: 25px;
    }

    h4{
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 5vw; 
        color: #000;
        line-height: 165%;
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    h5{
        font-family: "larken", sans-serif;
        font-weight: 500;
        font-style: medium;
        font-size: 5vw;
        line-height: 135%;
        color: #01385F;
        margin-bottom: 25px;
    }
    
    h6{
        font-family: "larken", sans-serif;
        font-weight: 500;
        font-style: medium;
        font-size: 9vw;
        line-height: 125%;
        color: #01385F;
        margin-bottom: 25px;
    }
    
    h7{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 3.5vw; 
        font-style: italic;
        color:#01385F;
        line-height: 165%;
        margin-bottom: 10px;
    }

    p{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 3.5vw; 
        color: #000;
        line-height: 165%;
        margin-bottom: 10px;
    }
}

/* STOR TABLET LAYOUT*/
@media only screen and (max-width: 1200px){
    .kortbox{
        position:absolute;
        top: 60vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        margin: auto;
        padding: 20px;
        background-color: #F2EFE9;
        opacity: 80%;
        margin-top:40%;
    }
}

/* LILLE TABLET LAYOUT*/
@media only screen and (max-width: 1000px){
    .kortbox{
        position:absolute;
        top: 51vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        margin: auto;
        padding: 20px;
        background-color: #F2EFE9;
        opacity: 80%;
        margin-top:40%;
    }
}

/*  LAPTOP LAYOUT*/
@media only screen and (min-width: 820px){
    #mobilenav{
        display:none;
    }

    #laptopnav{
        display:block;
    }

    .mobilfooterbox{
        display:none;
    }

    .mobilemap{
        display:none;
    }

    .oversigtsboxmobil{
        display:none;
    }
}