@import url("https://use.typekit.net/rhv2hvl.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

*{
    margin:0;
}
body{
    background-color:#F2EFE9;
}

/* HEADER + NAVBAR */
header{
    width: 100%;
    background-color: #F2EFE9;
    position: sticky;
    z-index:2;
    top:0px;
    margin-top:20px;
}

#logo{
    display:flex;
    justify-content: center;
}

#headerbox{
    display: flex;
    justify-content: center;
}

#laptopnav{
    position: sticky;
    top: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom:15px;
    background-color: #F2EFE9;
}

#mobilenav{
    display:flex;
    flex-wrap: wrap;
}

#mobiledropdown{
    background-color:#F2EFE9;
    display:flex;
    flex-direction: column;
    width:100%;
    text-decoration:none;
    line-height: 0.5;
}

/* NAV + A */

nav a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover{
    color:black;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:black;
}

/* KNAP */
.button {
    width:max-content;
    padding-top:12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #BCB171;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    color: #686832;
    margin:auto;
    margin-top: 30px;
    border-radius: 90px;
}

/* LAYOUT */
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:45px;
    margin-bottom:45px;
}

.kort{
    width: 47%;
    height: auto;
    margin-left:20px;
    margin-right:20px;
    padding:15px;
    text-align: left;
}

.center{
    text-align: center;
}

/* BILLEDER */

.kortbillede{
    width: 40%;
    height: auto;
    margin-left:20px;
    margin-right:20px;
}

.fixedkortbillede{
    width: 40%;
    height: auto;
    margin-left:20px;
    margin-right:20px;
}

#stenpartiet{
    background-image:url(images/stenpartietaaen.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
}

#broen{
    background-image: url(images/broen.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
}

#aakanderogcafeen{
    background-image: url(images/aakanderogcafeen1.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

#insta{
    background-image: url(images/insta.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
}

/* TYPOGRAFI */
h2{
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 4vw;
    line-height: 125%;
    color: #01385F;
    margin-bottom: 25px;
}

h3{
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 3.5vw;
    line-height: 125%;
    color: #01385F;
    margin-bottom: 25px;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5vw; 
    color: #000;
    line-height: 165%;
    margin-bottom: 10px;
}


/*MOBIL LAYOUT*/
@media only screen and (max-width: 820px){

    /* HEADER OG NAV */
    #mobilenav{
        display:flex;
        justify-content: space-between;
        position: sticky;
        z-index:2;
        top:0px;
        margin-top:-30px;
    }

    nav a{
        text-decoration: none;
        color: black;
        text-align: center;
        padding: 30px;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #laptopnav{
        display:none;
    }

    #headerbox{
        display: none;
    }

    #headerlaptop{
        display:none;
    }

    /* MAIN LAYOUT */
    section{
        display: flex;
        justify-content: center;
        margin-top:25px;
        margin-bottom:25px;
    }
    
    .kort{
        width: 85%;
        height: auto;
        margin:auto;
        padding:15px;
    }

    .kortbillede{
        width: 85%;
        min-height: 85vw;
        margin:auto;
        display:block;
    }

    .fixedkortbillede{
        width: 85%;
        height: 85vw;
        margin:auto;
        display:block;
    }

    .reverse{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    /* TYPOGRAFI */

    h2{
        font-family: "larken", sans-serif;
        font-weight: 500;
        font-style: medium;
        font-size: 7.2vw;
        line-height: 125%;
        color: #01385F;
        margin-bottom: 25px;
    }

    h3{
        font-family: "larken", sans-serif;
        font-weight: 500;
        font-style: medium;
        font-size: 7vw;
        line-height: 125%;
        color: #01385F;
        margin-bottom: 25px;
    }
    
    p{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 3.5vw; 
        color: #000;
        line-height: 165%;
        margin-bottom: 10px;
    }
}

/*LAPTOP LAYOUT*/
@media only screen and (min-width: 820px){
    #mobilenav{
        display:none;
    }

    #laptopnav{
        display:block;
    }
}